.bank-app {
    display: none;
    height: 100%;
    width: 100%;
    background: #181823;
    overflow: hidden;
}

.bank-app-header {
    position: absolute;
    width: 100%;
    height: 6vh;
    top: 4vh;
}

.bank-app-header-button {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 6vh;
    color: white;
    transition: .08s;
}

.bank-app-header-button-selected {
    color: #1976d2;
}

.bank-app-header-button > i {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: .9vh;
    font-size: 2vh;
}
.bank-app-header-button > p {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 1.2vh;
    font-size: 1.25vh;
}

.bank-app-accounts {
    display: block;
    position: absolute;
    width: 100%;
    height: 70%;
    top: 13vh;
    left: 30vh;
}

.bank-app-invoices {
    display: block;
    position: absolute;
    width: 100%;
    height: 42vh;
    top: 12vh;
    left: 30vh;
}

.bank-app-invoices-list {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bank-app-invoices-list::-webkit-scrollbar {
    display: none;
}

.bank-app-invoice {
    position: relative;
    height: 6vh;
    width: 100%;
    background-color: rgba(23, 23, 23, 90%);
}
.bank-app-invoice-title {
    text-transform : capitalize;
    position: absolute;
    top: 1vh;
    left: 2vh;
    color: white;
    font-size: 1.3vh;
}
.bank-app-invoice-amount {
    position: absolute;
    bottom: 1vh;
    left: 2vh;
    color: rgba(255, 255, 255, 0.781);
    font-size: 1vh;
}

.bank-app-invoice-buttons {
    position: absolute;
    right: 1.2vh;
    bottom: 1.5vh;
    text-align: center;
}

.bank-app-invoice-buttons > i {
    margin-left: .5vh;
    margin-right: .5vh;
    font-size: 1.5vh;
}

.pay-invoice {
    color: #4cd137;
    transition: .1s;
}

.pay-invoice:hover {
    color: #70f75b;
}

.decline-invoice {
    color: #e84118;
    transition: .1s;
}

.decline-invoice:hover {
    color: #ff5f38;
}

.bank-app-transfer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181823;
    top: -100%;
    z-index: 500;
}

.bank-app-account {
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    background: linear-gradient(to left, #283593, #1976d2);
    height: 12vh;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 1.5vh;
    transition: all 0.1s ease 0s;
    border-radius: 1vh;
    overflow:hidden;
}

.logo img {
    position: absolute; /* All items inside card should have absolute position */
    top: 15px;
    right: 10px;
    width: 40px;
    height: auto;
    opacity: 0.8;
}

.chip img {
    position: absolute; /* All items inside card should have absolute position */
    top: 50px;
    left: 20px;
    width: 30px;
    height: auto;
    opacity: 0.8;
}

.ring {
    position: absolute; /* All items inside card should have absolute position */
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: transparent;
    border: 50px solid rgba(255, 255, 255, 0.1);
    bottom: 1vh;
    right: -250px;
    box-sizing: border-box;
}

.ring::after {
    position: absolute; /* All items inside card should have absolute position */
    content: "";
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: transparent;
    border: 30px solid rgba(255, 255, 255, 0.1);
    bottom: 2vh;
    right: -110px;
    box-sizing: border-box;
}

.bank-app-account:hover{
    background: #1976d2;
    transition: .5s ease-out;
}

.bank-app-account-number {
    position: absolute;
    top: 7vh;
    left: 0.7vw;
    width: 100%;
    color: white;
    font-size: 1.5vh;
    background: transparent;
    outline: none;
    border: none;
}

.bank-app-account-number::selection {
    background: transparent;
    outline: none;
    border: none;
    color: white;
}

.bank-app-account-balance {
    position: absolute;
    top: 8.8vh;
    left: 0.9vw;
    color: white;
    font-size: 1.5vh;
}

.bank-app-account-actions {
    text-align: center;
    color: white;
    margin: 0 auto;
    bottom: 2.5vh;
    height: 5vh;
    width: 50%;
    right: 0;
    left: 0;
    line-height: 5vh;
    font-size: 2.5vh;
    position: absolute;
    transition: all 0.1s ease 0s;
    background: linear-gradient(to left, #283593, #1976d2);
    border-radius: 1vh;
}

.bank-app-account-actions:hover {
    background-color: #dc143c;
    transition: .5s ease;
}

.bank-app-loaded {
    display: none;
    padding-left: 30vh;
}

.bank-app-loading {
    position: absolute;
    top: 0;
    left: 0vh;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.qbank-logo {
    position: absolute;
    width: 10vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 22vh;
    z-index: 101;
}

.bank-app-transfer-header {
    position: absolute;
    padding-top: 6vh;
    padding-left: 2vh;
    color: white;
    font-size: 1.3vw;
    font-weight:500;
}

#bank-transfer-iban {
    position: absolute;
    color: white;
    top: 12vh;
    left: 6vh;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.555);
    height: 3.5vh;
    width: 20vh;
    text-indent: .4vh;
    border-radius: .5vh .5vh 0 0;
    transition: .1s;
    font-size: 0.9vw;
    font-weight: 500;
}

.bank-transfer-iban-icon  {
    position: absolute;
    top: 13.1vh;
    left: 1.7vh;
    font-size: 0.9vw;
    font-weight: 500;
    color: white;
}

#bank-transfer-iban::-webkit-inner-spin-button {
    display: none;
}

#bank-transfer-iban:focus {
    border-bottom: 2px solid #fbc531;
}

#bank-transfer-iban:valid {
    border-bottom: 2px solid #6ab04c;
}

#bank-transfer-amount {
    position: absolute;
    top: 19vh;
    color: white;
    left: 6vh;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.555);
    height: 3.5vh;
    width: 20vh;
    text-indent: .4vh;
    border-radius: .5vh .5vh 0 0;
    transition: .1s;
    font-size: 0.9vw;
    font-weight: 500;
}

#bank-transfer-amount::-webkit-inner-spin-button {
    display: none;
}

#bank-transfer-amount:focus {
    border-bottom: 2px solid #fbc531;
}

#bank-transfer-amount:valid {
    border-bottom: 2px solid #6ab04c;
}

.bank-transfer-amount-icon  {
    position: absolute;
    top: 20.1vh;
    left: 2.1vh;
    font-size: 1vw;
    font-weight: 600;
    color: white;
}

.bank-transfer-mycontacts-icon  {
    position: absolute;
    top: 27.1vh;
    left: 2.1vh;
    font-size: 0.9vw;
    font-weight: 600;
    color: white;
}

.bank-transfer-mycontacts-icon:hover {
    color: #fbc531;
}

.bank-app-transfer-buttons {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.bank-app-transfer-button {
    position: relative;
    color: white;
    float: left;
    width: 50%;
    height: 3vh;
    text-align: center;
    transition: .1s;
    font-size: 0.8vw;
    font-weight: 500;
}

.bank-app-transfer-button:hover {
    color: #eb4d4b;
    font-size: 0.9vw;
    background: rgba(204, 10, 30, 0.2);
    border-radius: 5px;
}

.bank-app-my-contacts {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;
    background: #181823;
    z-index: 500;
}

.bank-app-my-contacts::-webkit-scrollbar {
    display: none;
}

.bank-app-my-contacts-list::-webkit-scrollbar {
    display: none;
}

.bank-app-my-contacts-header {
    position: relative;
    font-size:2vw;
    font-weight: 600;
    top: 10%;
    left: 5%;
    color: white;
}

.bank-app-my-contacts-list {
    position: absolute;
    height: 65%;
    top: 15vh;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bank-app-my-contact {
    position: relative;
    width: 100%;
    color: white;
    height: 4.5vh;
    background-color: rgba(23, 23, 23, 90%);
    border-radius: 0.5vh;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.bank-app-my-contact:hover {
    background-color: rgba(114, 126, 148, 0.3);
}

.bank-app-my-contact-firstletter {
    position: absolute;
    height: 3.4vh;
    width: 3.4vh;
    margin: .5vh;
    margin-left: .6vh;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 3.5vh;
    border-radius: 50%;
    color: white;
    background-color: #727e94;
}

.bank-app-my-contact-name {
    position: absolute;
    left: 5vh;
    line-height: 4.5vh;
    font-size: 1vw;
    font-weight: 500;
    color: white;
}

.bank-app-my-contacts-list-header {
    position: absolute;
    top: 10vh;
    height: 5vh;
    width: 100%;
}

#bank-app-my-contact-search {
    position: absolute;
    border: none;
    bottom: 1vh;
    width: 90%;
    left: 4%;
    height: 2vh;
    font-size: 0.8vw;
    font-weight: 400;
    border-radius: 0.5vh;
    box-shadow: 0 0 .2vh 0 rgba(0, 0, 0, 0.281);
    text-align: center;
    outline: none;
    z-index: 100;
}

.bank-app-my-contacts-list-back {
    position: absolute;
    bottom: 1vh;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.4vh;
    transition: .1s;
    font-weight: 600;
}

.bank-app-my-contacts-list-back:hover {
    color: #727e94;
}
