.calculator-app {
    display: none;
    height: 100%;
    width: 100%;
    background: #0f0f0f;
    overflow: hidden;
}

.calculator-header {
    position: absolute;
    width: 100%;
    top: 5vh;
	left: 5%;
    color: white;
    font-size: 4vh;
	font-weight: 600;
}

.calculator-list {
    position: absolute;
    width: 100%;
	top: 35%;
}

.calculator-list::-webkit-scrollbar {
    display: none;
}

form{
	width: 100%;
	position: relative;
}

input[name="display"]{
    background: none;
	color: #fff;
	font-size: 3vh;
	font-weight: 500;
	text-align: right;
	width: calc(100% - 10px);
	margin-bottom: 2vh;
	border: none;
}

input[type="button"]{
	font-size: 3vh;
	float: left;
	color: #fff;
	font-weight: 600;
	width: calc(100% / 4 - 1vh);
	background: #393d40;
	text-align: center;
	margin: 0 0 0.7vh 0.7vh;
	border: none;
	transition: 0.25s;
	border-radius: 1vh;
}

input[type="button"]:hover{
	background: rgb(121, 121, 121);
}

input[type="button"]:nth-last-of-type(1){
	background: rgb(241, 126, 18);
	width: calc(50% - 1.2vh);
	transition: 0.25s;
}

input[type="button"]:nth-last-of-type(1):hover{
	background: rgb(204, 102, 6);
}

#minishalhcalc{
	background: rgb(241, 126, 18);
	color: #fff;
	transition: 0.25s;
}
#minishalhcalc:hover{
	background: rgb(204, 102, 6);
}
#shakhescalc{
	background: rgb(191, 191, 191);
	transition: 0.25s;
}
#shakhescalc:hover{
	background: rgb(121, 121, 121);
}